<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Вхід</title>
</head>
<body>
<header class="f1">
    <div class="wrap-logo">
        <a href="/index" class="logo">LearnOnline</a>
        <p th:if ="${session.currentUser}!=null" th:text="${'Login: '+ session.currentUser.login}"></p>
    </div>
    <nav class="contact">
        <a  href="/userList">Користувачі</a>
        <a th:if ="${session.currentUser}!=null" href="/profile">Головна</a>
        <a th:if ="${session.currentUser}!=null" href="/chatList">Чати</a>
        <a class="active" href="/courseList" >Переглянути курси</a>
        <a th:if ="${session.currentUser}==null" href="/logIn">Вхід</a>
        <a th:if ="${session.currentUser}==null" href="/signUp">Реєстрація</a>
        <a th:if ="${session.currentUser}!=null"  href="/logout">Вихід</a>
    </nav>
</header>






<form th:action="@{/logIn}" method="post">
    <div class="curs_11"></div>
    <div class="divform">
        <div class="container">
            <div class="title-div">
                <h1 class="title">Вхід</h1>
            </div>
            <div class="content">
                <div>
                    <h2 class="text"></h2>
                    <div class="display">
                        <div class="pole namediv">
                            <label class="pole family">Логін <input type="text" name="login" th:value="${session.signUpData!=null?session.signUpData.login:''}" /> </label>
                            <label class="pole family">Пароль <input type="password" name="password" th:value="${session.signUpData!=null?session.signUpData.password:''}" /> </label>


                            <div class="buttons">
                                <div class="button submit">
                                    <input
                                            class="input"
                                            type="submit"
                                            value="Увійти"
                                            onclick="ask(document.querySelector('.display'), document.querySelector('.title'), document.querySelector('.text'))"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="curss0" href="/signUp">Зареєструватись</a>
        </div>
    </div>
</form>
<div class="div_1">

    <nav class="vv">
        <a class="curss" href="#">050-432-37-84</a>
        <a class="curss1" href="#">learnonline@gmail.com</a>
        <a class="curss2" href="#">LearnOnline</a>
        <a class="curss3" href="#">LearnOnline_</a>
    </nav>
</div>
</div>




</body>
</html>