<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/r.css">
    <title>Тест</title>
</head>
<body>
<header class="f1">
    <div class="wrap-logo">
        <a href="/index" class="logo">LearnOnline</a>
    </div>
    <nav class="contact">
        <a href="/index">Головна</a>
        <a href="/userList">Користувачі</a>
        <a class="active" href="/courseList" >Переглянути курси</a>
        <a th:if ="${session.currentUser}!=null"  href="/profile" >Мій профіль</a>
        <a th:if ="${session.currentUser}!=null" href="/chatList">Чати</a>
        <a th:if ="${session.currentUser}==null" href="/logIn">Вхід</a>
        <a th:if ="${session.currentUser}==null" href="/signUp">Реєстрація</a>
        <a th:if ="${session.currentUser}!=null"  href="/logout">Вихід</a>
    </nav>
</header>
<h1 class="b">Курси > Тест</h1>

<a  href="/courseList?myCourses=true" class="b">Мої курси</a>
<a href="/courseList" class="m b">Усі курси</a>
<div style="margin-left: 100px;">
    <div class="curs_88" th:if="${session.currentUser.login!=session.currentCourseTeacher.login}">
        <p th:if="${session.currentTest.size()==0}">No tests</p>
        <form th:action="@{/test}" method="post">
            <div th:each="test : ${session.currentTest}" >
                <input type="hidden" name="courseId" th:value="${test.key.courseId}"/>
                <input type="hidden" name="question" th:value="${test.key.id}"/>
                <h4  th:text="${test.key.text}"></h4>
                <div th:each="answer:${test.value}">
                    <input type="radio" th:name="'answer'+${test.key.id}" th:value="${answer.id}" th:id="${answer.id}">
                    <label th:for="${answer.id}" th:text="${answer.text}"></label>
                </div>
            </div>
            <button class="activeee" th:if="${session.currentTest.size()>0}" type="submit">Перевірити</button>
        </form>
    </div>
    <div th:if="${session.currentUser.login==session.currentCourseTeacher.login}">
        <div th:each="test : ${session.currentTest}">
            <h4 th:text="${test.key.text}"></h4>
            <div th:each="answer:${test.value}">
                <p th:text="${answer.text}+'. Mark:'+${answer.mark}"></p>
                <form th:action="@{/removeAnswer}" method="post">
                    <input type="hidden" name="page" th:value="'test?courseId='+${test.key.courseId}"/>
                    <input type="hidden" name="answerId" th:value="${answer.id}">
                    <button class="activ" type="submit">Видалити питання</button>
                </form>
            </div>
            <a class="activess" th:href="'/editTest?questionId='+${test.key.id}">Редагувати блок</a>
            <form th:action="@{/removeTest}" method="post">
                <input type="hidden" name="courseId" th:value="${test.key.courseId}"/>
                <input type="hidden" name="questionId" th:value="${test.key.id}">
                <button class="activ" type="submit">Видалити тест</button>
            </form>
        </div>
        <a class="activess" href="/editTest">Додати тест</a>
    </div>
</div>
</body>
</html>



