<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Список користувачів</title>
        <link rel="stylesheet" href="/editProfile.css">
    </head>
    <body>
    <header class="f1">
        <div class="wrap-logo">
            <a href="/index" class="logo">LearnOnline</a>
            <p th:if ="${session.currentUser}!=null" th:text="${'Login: '+ session.currentUser.login}"></p>
        </div>
        <nav class="contact">
            <a href="/index">Головна</a>
            <a href="/userList">Користувачі</a>
            <a class="active" href="/courseList" >Переглянути курси</a>
            <a th:if ="${session.currentUser}!=null"  href="/profile" >Мій профіль</a>
            <a th:if ="${session.currentUser}!=null" href="/chatList">Чати</a>
            <a th:if ="${session.currentUser}==null" href="/logIn">Вхід</a>
            <a th:if ="${session.currentUser}==null" href="/signUp">Реєстрація</a>
            <a th:if ="${session.currentUser}!=null"  href="/logout">Вихід</a>
        </nav>
    </header>
    <h1 class="b">Користувачі</h1>
    <div class="curs_5">
        <div th:each="user: ${session.allUsers}">
            <div th:if ="${session.currentUser==null||!session.currentUser.login.equals(user.login)}">
                <div th:if="${session.currentUser!=null&&'teacher'==session.currentUser.role || user.role!='student'}">
                    <p th:text="${'Login: '+ user.login}"></p>
                    <p th:text="${'First name: '+ user.firstName}"></p>
                    <p th:text="${'Last name: '+ user.lastName}"></p>
                    <p th:text="${'E-mail: '+ user.email}"></p>
                    <p th:text="${'Role: '+ user.role}"></p>
                    <a th:if="${user.role.equals('teacher')}" th:href="'/courseList?teacher=' + ${user.login}" class="activesss">Курси</a>
                    <a th:if ="${session.currentUser}!=null" th:href="'/chat?receiver=' + ${user.login}" class="activv">Надіслати повідомлення</a>
                </div>
            </div>
        </div>
    </div>
    </body>
</html>
